

body{
    
}

.h3-title-movie{
    margin: 0px;
}
.p-year-movie{
    margin: 5px;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;         
}


main{
    width: 100%;
}

.ul-listaDePeliculas{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 20px;
}

.li-movie{
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 10px;
}